.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.name {
  font-size: 16px;
  font-weight: 700;
}

.online {
  color: green;
}

.offline {
  color: red;
}
